---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

import Image from "components/Image.astro";

type Project = CollectionEntry<"projects">;

export interface Props {
  project: Project;
  class?: string;
}

const { project, class: className } = Astro.props;
---

<a href={`/projects/${project.slug}`}>
  <div class={"card " + (className || "")}>
    <Image
      alt={`Thumbnail for project ${project.data.title}`}
      src={project.data.thumbnail}
      quality={50}
      class="w-full object-cover"
      height="300px"
    />
    <div class="p-6 b-t-2 b-purple flex flex-col justify-between">
      <div>
        <strong class="header-text f-s-2 block m-b-3">{project.data.title}</strong>
        <p class="m-b-0">{project.data.blurb}</p>
      </div>
      <p class="m-t-4 text-right fw-400 text-purple f-s-3">
        See more <Icon class="inline" name="mdi:page-next-outline" />
      </p>
    </div>
  </div>
</a>
