---
import i0629 from "../assets/images/dogs/IMG_0629.jpeg";
import i1396 from "../assets/images/dogs/IMG_1396.jpeg";
import i5178 from "../assets/images/dogs/IMG_5178.jpeg";
import i5802 from "../assets/images/dogs/IMG_5802.jpeg";
import i6065 from "../assets/images/dogs/IMG_6065.jpeg";
import i6366 from "../assets/images/dogs/IMG_6366.jpeg";
import i6406 from "../assets/images/dogs/IMG_6406.jpeg";
import i6416 from "../assets/images/dogs/IMG_6416.jpeg";
import i6422 from "../assets/images/dogs/IMG_6422.jpeg";
import i6462 from "../assets/images/dogs/IMG_6462.jpeg";
import i6796 from "../assets/images/dogs/IMG_6796.jpeg";
import i6918 from "../assets/images/dogs/IMG_6918.jpeg";
import i7025 from "../assets/images/dogs/IMG_7025.jpeg";
import i7222 from "../assets/images/dogs/IMG_7222.jpeg";
import i7677 from "../assets/images/dogs/IMG_7677.jpeg";
import i7815 from "../assets/images/dogs/IMG_7815.jpeg";
import i9047 from "../assets/images/dogs/IMG_9047.jpeg";
import i9439 from "../assets/images/dogs/IMG_9439.jpeg";
import i9709 from "../assets/images/dogs/IMG_9709.jpeg";

import Image from "../components/Image.astro";
import Layout from "../layout/Layout.astro";
import SectionBody from "layout/SectionBody.astro";
import SectionHead from "layout/SectionHead.astro";
---

<Layout title="Avett and Chunk">
  <SectionHead class="b-b-2 b-purple" img={i7222} cover>Avett and Chunk</SectionHead>
  <SectionBody class="">
    <ul class="list-none columns-1 md:columns-2 xl:columns-3">
      <li class="m-b-4"><Image class="bg-purple" src={i0629} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i1396} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i5178} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i5802} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6065} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6366} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6406} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6416} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6422} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6462} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6796} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i6918} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i7025} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i7222} alt="" /></li>
      <!-- <li class="m-b-4"><Image class="bg-purple" src={i7677} alt="" /></li> -->
      <li class="m-b-4"><Image class="bg-purple" src={i7815} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i9047} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i9439} alt="" /></li>
      <li class="m-b-4"><Image class="bg-purple" src={i9709} alt="" /></li>
    </ul>
  </SectionBody>
</Layout>
